@media only screen and (min-width: 64em) {
/*-----BODY -----*/
	body {padding: 0; margin: 0;}

/*-----WRAPPER -----*/
	#wrapper {}

/*-----CONTAINER -----*/
	#container {
		margin: 2em auto;
		border: 1px solid #888;
         
	}

/*-----HEADER -----*/
    header{margin: 0;}

/*-----NAVigation -----*/
    
    nav {
        width: 100%; 
        float: none;
        text-align: center;
    }
    nav ul {content: ""; display: table; clear:both;}
    nav ul li a {
        background: transparent; 
        border: none; 
    }
    
   nav ul li {
       font-size: 26px;
       float: left;
       border: none;
       display: block;
       
    }

    nav ul li a {
        margin: 0; 
        text-align: center;
        border: none;
        float: none;
    }
    
/*-----CONTENT -----*/
    #content {
        width: 100%; 
        float: none;
    }
    
    #content article {
        width: 100%;
        
    }
    figure.w50right {max-width: 50%; margin-left:400px;}
    nav ul li ul {
        z-index: 99;
        position: absolute;
        left: -999em;
        width: 10em;
    }
    
    nav ul li ul li {
        float: none;
        border-right: none;
        border-bottom: 1px solid #deedcb;  
    }

    nav li:hover ul {
        left: auto;
    }
    div.gallery img {padding: 5%;}
    .gallery {padding: 6%; border-radius: 10%;}
/*-----------------------Table Content------------------------*/
    Table {width: 75%; margin: 200px; background: #715470;
    background: -moz-linear-gradient(top, #715470 2%, #953250 73%);
    background: -webkit-linear-gradient(top, #715470 2%,#953250 73%);
    background: linear-gradient(to bottom, #715470 2%,#953250 73%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#715470', endColorstr='#953250',GradientType=0 );}
    th {padding: 50px; }
    #type, #type1, #type2, #type3 {color: #f47b3f; font-weight: 600;} 
    #desc, #desc1, #desc2, #desc3 {font-weight: 600}
    #price, #price1, #price2, #price3 {color: red; font-weight: 600;}
    #color,#color1, #color2, #color3 {color: #deedcb; font-weight: 600;}

footer a:hover {
    color: #f47b3f; 
} 
    
footer img:hover {
    background-color: #f47b3f; 
    border-radius: 5px 5px;
    }
    
.mySlides{ 
    padding: 15%; 
    border-radius: 70px 15px;
    }
    
.mySlides img { 
    padding-top: 5%; 
    padding-bottom: 5%;
    }


/*----- FOOTER -----*/

    .clearfix:after {content: ""; display: table; clear:both;}

} 