@media only screen and (min-width: 64rem) {
/*-----BODY -----*/
	body {}

/*-----WRAPPER -----*/
	#wrapper {}

/*-----CONTAINER -----*/
	#container {
		margin: 2em auto;
		border: 1px solid #888;
         
	}

/*-----HEADER -----*/


/*-----NAVigation -----*/
    
    nav {
        width: 100%; 
        float: none;
        text-align: center;
    }
    nav ul {content: ""; display: table; clear:both;}
    nav ul li a {
        background: transparent; 
        border: none; 
    }
    
   nav ul li {
       font-size: 26px;
       float: left;
       border: none;
       display: block;
       
    }

    nav ul li a {
        margin: 0; 
        text-align: center;
        border: none;
        float: none;
    }
    
/*-----CONTENT -----*/
    #content {
        width: 100%; 
        float: none;
    }

    nav ul li ul {
        z-index: 99;
        position: absolute;
        left: -999em;
        width: 10em;
    }
    
    nav ul li ul li {
        float: none;
        border-right: none;
        border-bottom: 1px solid #deedcb;  
    }

    nav li:hover ul {
        left: auto;
    }
    
.introduction {
        margin: 10%; 
        text-align: justify; 
        text-indent: 50px;
} 


footer a:hover {
    color: #f47b3f; 
} 
    
footer img:hover {
    background-color: #f47b3f; 
    border-radius: 5px 5px;
    }
    
.mySlides{ 
    padding: 15%;  
    border-radius: 70px 15px;
    }
    
/*----- FOOTER -----*/

    .clearfix:after {content: ""; display: table; clear:both;}

} 