@media only screen and (min-width: 35rem) {

    /* Only CSS write declarations that need to be changed. Do not duplicated declarations that are already established in the main.css */
    
      /* hamburger button does not need to be shown in the medium on up views */  
    nav ul.hide {display: block; }
    nav ul {margin-left: : 2%;}
    
    nav ul li {margin: 0; display: inline-block; float: none;}
    
    nav ul li a {border: none; border-right: 1px solid rgba(0,0,0,0.3); padding: .8rem 1rem;
    }
    
}