/*----------- apply a natural box layout model to all elements --------------*/
* {box-sizing: border-box; }

/*-----BODY -----*/
body {
	font-size: 14px;
    background-color: #deedcb;
    text-align: left;
    
}

/*-----CONTAINER -----*/
#container {
	background-color: #deedcd;   /*becomes the nav background color*/
	min-width: 320px;
	max-width: 1140px;
}

/*-----HEADER -----*/
header h1 {text-align: center; font-family: 'Bree Serif', serif;}
header h2 {text-align: center; font-family: 'Bree Serif', serif;}





/*-----NAVigation -----*/

nav button {margin: .2rem 2%; 
            background-color: transparent; 
            border: none; 
            font-size: 1.6rem;  
            color: #deedcb;
            
} 

nav {background: #715470;
    background: -moz-linear-gradient(top, #715470 2%, #953250 73%);
    background: -webkit-linear-gradient(top, #715470 2%,#953250 73%);
    background: linear-gradient(to bottom, #715470 2%,#953250 73%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#715470', endColorstr='#953250',GradientType=0 );
    font-family: 'Bree Serif', sans-serif;
}
nav ul {list-style-type: none; 
        padding: 0; 
        margin: 0;
        font-family: 'Questrial', sans-serif;
}

nav ul li a {
	display: block;
    padding: .8rem 2%;
    text-decoration: none;
    color: rgba(255,255,255,0.8);
    border-top: 1px solid rgba(0,0,0,0.3); 
}

nav ul li a:hover  {
    background: #deedcb; 
    color: black;
    font-weight: 600;
}

nav ul li a.active {
    background: orange; 
    color: #000;
}

nav ul.hide {display: none;
}



/*----Main Content area of site-----*/



/*-----CONTENT -----*/
#content {
    text-align: center;
	height: auto;
    background-color: #deedcd; 
    width: 100%;
    font-family: 'questrial', sans-serif;
    margin: 0;
    padding: 20px; 
}

.mySlides img {
    
    border-radius: 75px 20px; 
    width: 100%; 
    padding: 2%;
    margin-bottom: 5%;
    margin-top: 5%;
    max-height: 400px;
}

/*----- FOOTER -----*/
.contactinfo {text-align: center; 
    margin: 0; 
    padding: 10rem; 
    width: 100%;
}

footer {width: 100%; float: left; text-align: center;
        padding: 1em; background: #715470;
background: -moz-linear-gradient(top, #715470 2%, #953250 73%);
background: -webkit-linear-gradient(top, #715470 2%,#953250 73%);
background: linear-gradient(to bottom, #715470 2%,#953250 73%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#715470', endColorstr='#953250',GradientType=0 );  
}

.clearfix:after { content: ""; display: table; clear: both;}