@media only screen and (min-width: 36em) {
/*-----BODY -----*/
    
/*-----NAVigation -----*/
    nav button {display: none;}
    nav ul {display: block;}
    nav ul.hide {display: block;}
    header img {margin-bottom: 2%;}
    
}